body {
  font-family: Arial, sans-serif;
  background: #f5f6fa;
  margin: 5px 10px 15px 20px; 

  padding: 0;
}

.container {
  width: 600px;
  margin: 40px auto;
  background:white(120 98% 1%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 70%;
}

button {
  padding: 10px;
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #43a047;
}

a {
  margin-left: 10px;
}
.toast-container {
  position: fixed;
  bottom: 25px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
}

.toast-msg{
  display:inline-block;
  padding:10px 16px;
  margin-top:6px;
  border-radius:10px;
  color:white;
  font-size:15px;
  font-weight:500;
  box-shadow:0 3px 10px rgba(0,0,0,.2);
  border:1px solid rgba(255,255,255,.5);
}

.toast-success{ background:#75d5a5; }
.toast-warning{ background:#f39c12; }
.toast-error{   background:#e74c3c; }
.toast-info{    background:#3498db; }
.bottom-messages {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
}

.bottom-message {
  display: inline-block;
  padding: 10px 14px;
  margin-top: 6px;
  border-radius: 8px;
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: 500;
}

